In [1]:
# This Notebook demonstrates what can be done with Matrix module
# also used for development playground...

In [2]:
import pandas as pd
import scipy.stats as stats
import pylab
import matplotlib.pyplot as plt

In [3]:
import os

In [5]:
from AuxFunctions import *
from Matrix import *
from TLD import *
from Gravity import *

# Matrix Examples

In [6]:
df = pd.DataFrame(data=[range(6) for row in range(3)], columns=['A1', 'A2', 'A3', 'B1', 'B2', 'B3'])
df

   A1  A2  A3  B1  B2  B3
0   0   1   2   3   4   5
1   0   1   2   3   4   5
2   0   1   2   3   4   5

In [7]:
m = mat(7)
m

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [8]:
mat7 = Matrix(m)
mat7

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [9]:
exmat = pd.DataFrame({'O': [10,10,20,20],
                      'D': [10,20,10,20],
                      'T':[3,2,4,1]}).set_index(['O','D'])
exmat

       T
O  D
10 10  3
   20  2
20 10  4
   20  1

In [10]:
I3 = I(3)
I3

     T
O D
1 1  1
  2  0
  3  0
2 1  0
  2  1
  3  0
3 1  0
  2  0
  3  1

In [11]:
ex_matrixp = os.path.join('example_data', 'ex_matrix_1.csv')
ex_matrix = pd.read_csv(ex_matrixp, index_col=[0,1])
ex_skimdistp = os.path.join('example_data', 'ex_skimdist_1.csv')
ex_skimdist = pd.read_csv(ex_skimdistp, index_col=[0,1])

In [12]:
zoning1 = Zoning(list(range(3)))
zoning2 = Zoning(list(range(10)))
zoning3 = Zoning([5+i for i in range(5)])
zoning4 = Zoning('A B C'.split())

In [13]:
mat7.complete(zoning3)

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
..   ..  ..  ..
  8   0   0   0
  9   0   0   0
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
  8   0   0   0
  9   0   0   0
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0
  8   0   0   0
  9   0   0   0
8 5   0   0   0
  6   0   0   0
  7   0   0   0
  8   0   0   0
  9   0   0   0
9 5   0   0   0
  6   0   0   0
  7   0   0   0
  8   0   0   0
  9   0   0   0

[65 rows x 3 columns]

In [14]:
mat7.matrix.T3

D  1  2   3   4   5   6  7
O
1  0  6  10  12  12  10  6
2  0  0  10  12  12  10  6
3  0  6   0  12  12  10  6
4  0  6  10   0  12  10  6
5  0  6  10  12   0  10  6
6  0  6  10  12  12   0  6
7  0  6  10  12  12  10  0

In [15]:
mat7.TDp.matrix.T3

D    1         2         3         4         5         6         7
O
1  0.0  0.166667  0.166667  0.166667  0.166667  0.166667  0.166667
2  0.0  0.000000  0.166667  0.166667  0.166667  0.166667  0.166667
3  0.0  0.166667  0.000000  0.166667  0.166667  0.166667  0.166667
4  0.0  0.166667  0.166667  0.000000  0.166667  0.166667  0.166667
5  0.0  0.166667  0.166667  0.166667  0.000000  0.166667  0.166667
6  0.0  0.166667  0.166667  0.166667  0.166667  0.000000  0.166667
7  0.0  0.166667  0.166667  0.166667  0.166667  0.166667  0.000000

In [16]:
basicmapping = pd.DataFrame({
        'sectors': 'A A B B B C C'.split(),
        'zones':   [1,2,3,4,5,6,7,]
    })

mapping = pd.DataFrame({
        'sectors': 'A B A B B B C C C'.split(),
        'zones':   [1,2,2,3,4,5,6,7,5],
        'Val1':    [1,4,4,2,1,3,1,4,2],
        'Val2':    [3,0.01,1,2,1,3,3,1,0.01]
    })

In [17]:
mat7.rezone(basicmapping, ['zones', 'sectors'])

                     T1   T2  T3
sectors_O sectors_D
A         A           3   20   6
          B           4   45  68
          C           2   40  32
B         A           4  135  18
          B           6  225  68
          C           4  165  48
C         A           2  160  12
          B           4  255  68
          C           3  180  16

In [20]:
rezoned = mat7.rezone(mapping, ['zones', 'sectors'], mapping_weight_cols=['Val1', 'Val2'])
rezoned

WARNING: rezoned matrix does not preserve the matrix totals.

                           T1          T2         T3
sectors_O sectors_D
A         A          1.985149   11.435644   5.940594
          B          3.009868   28.527812  50.999605
          C          1.504983   26.536545  24.059801
B         A          4.179208  119.291089  15.445545
          B          6.213815  203.473695  76.254788
          C          4.106977  151.135216  49.699668
C         A          2.786139  182.679208  14.257426
          B          4.809210  293.987902  76.862840
          C          3.404651  207.932890  22.479734

In [21]:
rezoned.TOTALS

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [22]:
mat7.TOTALS

T1      32
T2    1225
T3     336
dtype: int64

In [58]:
cost7 = mat7.apply(lambda x: abs(randomizeSeries(x, 0.2)))
cost7

     T1   T2  T3
O D
1 1   0    4   0
  2   3    6  27
  3   4   16  22
  4   0    4  26
  5   0    5  23
  6   0    6  33
  7   0   21  16
2 1   3   18   0
  2   2    6   0
  3   0   40  35
  4   5   14  50
  5   2   49  38
  6   0    5   3
  7   1    3  19
3 1   3   36   0
  2   0   42  18
  3   2   59   0
  4   0   31  44
  5   0   23  29
  6   1   31  26
  7   3    5  10
4 1   0    6   0
  2   2  101  36
  3   4   54  31
  4   0  148   0
  5   3  152  41
  6   6   38  16
  7   0   22  15
5 1   3   61   0
  2   2  142   4
  3   0   93   9
  4   2  139  46
  5   4  108   0
  6   0  149  39
  7   4  124   9
6 1   2  110   0
  2   0   41   2
  3   3    1  36
  4   1    8  42
  5   0   47  50
  6   0  127   0
  7   4  119  14
7 1   0  249   0
  2   2  221   4
  3   0  257  19
  4   0   92  30
  5   2  230  19
  6   6  104   9
  7   0    2   0

In [61]:
mat7_rezoned_weighted = mat7.rezone_weighted(mapping, cost7, ['zones', 'sectors'], mapping_weight_cols=['Val1', 'Val2'])
mat7_rezoned_weighted

WARNING: rezoned matrix does not preserve the matrix totals.
WARNING: rezoned matrix does not preserve the matrix totals.

                      T1         T2         T3
sectors_O sectors_D
A         A          1.0   5.230908   6.000000
          B          1.0   8.619647  11.392254
          C          1.0   7.639068   8.308585
B         A          1.0  23.152986   6.000000
          B          1.0  24.984514  11.536415
          C          1.0  30.553201   8.515266
C         A          1.0  40.328576   6.000000
          B          1.0  43.043059  11.459933
          C          1.0  41.327693   8.351572

In [23]:
DEMMANDp = os.path.join('example_data', 'Demand_EMME.txt')
DEMMAND = Matrix.read_EMME(DEMMANDp)
DEMMAND

           Demand_EMME
O    D
101  101        1.5615
     102        0.0338
     103        4.1628
     104        2.0070
     105        1.5930
     106        0.1395
     107        0.8108
     108        0.7475
     109        0.2345
     110        0.3509
     111        0.6626
     112        0.4458
     113        0.3684
     114        0.5735
     115        0.0944
     116        0.2403
     117        0.3339
     118        0.2622
     119        0.2569
     201        0.1164
     202        0.0737
     203        0.1196
     204        0.2698
     205        0.0237
     206        0.2613
     207        0.0106
     208        0.0095
     209        0.1387
     210        0.0972
     211        0.0698
...                ...
1913 1780       0.4074
     1781       0.0858
     1782       1.3428
     1783       0.7599
     1784       0.0816
     1801    3155.7934
     1802     119.7499
     1803    1188.3122
     1804      28.7936
     1805      71.6565
     1806       6.2300
     1807      26.4169
     1808       3.7560
     1809      11.4795
     1810      66.1949
     1811       1.5953
     1812      34.7306
     1813       1.8099
     1901       2.3164
     1902      11.2327
     1903      45.7226
     1904    5741.9848
     1905      29.2176
     1906      14.8447
     1907       3.6403
     1908       5.7690
     1909      84.8270
     1910       1.7470
     1911      15.4561
     1912     557.1537

[707280 rows x 1 columns]

In [24]:
DISTp = os.path.join('example_data', 'Dist_EMME.txt')
DIST = Matrix.read_EMME(DISTp)
DIST

            Dist_EMME
O   D
1   1         0.00000
    2      7182.00000
    3     15634.99800
    4     23180.99800
    5     15533.99800
    6     30531.00390
    7     47291.00000
    8      9940.00195
    9     10772.00290
    10    17327.00190
    11    26253.00000
    12    45012.00780
    13    53452.00780
    14    51295.01170
    15    90100.00000
    16    91504.98430
    17    60492.00000
    18    68650.00000
    19    69266.00780
    20    67486.00000
    21    49757.00780
    22    34456.00000
    23    51594.00000
    24   102760.98400
    25    64037.98820
    26    41513.00000
    27    91613.00000
    28   108692.00000
    29    73069.63280
    30    65341.63670
...               ...
149 119   12711.98310
    120   15081.77390
    121   13096.00980
    122   16533.95410
    123   16509.12840
    124   17529.24740
    125   13382.89200
    126   27195.85680
    127   31722.18240
    128   25792.68790
    129   25349.91560
    130   23291.95230
    131   25776.55050
    132   41845.24460
    133   36035.65900
    134   42309.50000
    135   37355.94660
    136   51069.27820
    137   50770.79190
    138   47824.90030
    139   55480.78080
    140   45454.57720
    141   44222.90500
    142   41739.51850
    143   38885.96880
    144   31699.49650
    145   21592.85070
    146   18044.11030
    147   17055.16570
    148   10935.56100

[22137 rows x 1 columns]

In [25]:
tTO = randomizeTE(mat7.TO)
tTO

   T1   T2  T3
O
1   4   29  56
2   5   73  50
3   5  129  45
4   4  179  44
5   5  227  40
6   5  276  45
7   4  301  46

In [26]:
tTD = randomizeTE(mat7.TD)
tTD

   T1   T2  T3
D
1   4  141   0
2   5  169  34
3   5  175  56
4   4  192  67
5   5  168  78
6   5  173  66
7   4  208  38

In [27]:
fmat7 = mat7.furness(tTO, tTD)
fmat7

      T1         T2         T3
O D
1 1  0.0   0.948062   0.000000
  2  1.0   2.173057   5.697117
  3  1.0   3.233594   9.334490
  4  0.0   4.539683  11.201497
  5  1.0   4.772955  12.920450
  6  1.0   5.678077  11.071310
  7  0.0   7.678306   6.292835
2 1  1.0   6.949081   0.000000
  2  1.0   8.959511   0.000000
  3  0.0   9.875633   9.268670
  4  1.0  11.438232  11.122512
  5  1.0  10.495407  12.829344
  6  0.0  11.271820  10.993243
  7  1.0  14.070065   6.248463
3 1  1.0  14.073641   0.000000
  2  0.0  17.204404   5.483737
  3  1.0  18.133921   0.000000
  4  1.0  20.216993  10.781956
  5  0.0  17.949382  12.436527
  6  1.0  18.730895  10.656645
  7  1.0  22.796344   6.057143
4 1  0.0  20.624038   0.000000
  2  1.0  24.710599   5.582783
  3  1.0  25.579369   9.147159
  4  0.0  28.055619   0.000000
  5  1.0  24.541722  12.661153
  6  1.0  25.265512  10.849123
  7  0.0  30.369646   6.166546
5 1  1.0  26.936077   0.000000
  2  1.0  31.934641   5.275365
  3  0.0  32.736001   8.643467
  4  1.0  35.580755  10.372261
  5  1.0  30.862490   0.000000
  6  0.0  31.523076  10.251711
  7  1.0  37.612750   5.826982
6 1  1.0  33.359679   0.000000
  2  0.0  39.293935   5.693309
  3  1.0  40.034143   9.328250
  4  1.0  43.262619  11.194009
  5  0.0  37.321580  12.911813
  6  1.0  37.924210   0.000000
  7  1.0  45.029730   6.288628
7 1  0.0  36.843598   0.000000
  2  1.0  43.206659   5.266119
  3  1.0  43.836278   8.628318
  4  0.0  47.182423  10.354082
  5  1.0  40.548249  11.942992
  6  1.0  41.053306  10.233743
  7  0.0  48.575843   0.000000

In [28]:
max([max(x,y) for x,y in zip((fmat7.TO - tTO).abs().max(), (fmat7.TD - tTD).abs().max())])

2.2977202181780001

# TLD examples

In [29]:
ex_matrixf = os.path.join('example_data', 'ex_matrix_1.csv')
ex_matrix = Matrix(pd.DataFrame.from_csv(ex_matrixf, index_col=[0,1]))
ex_matrix

                   T
zone_O zone_D
1001   1001     16.0
       1002      8.0
       1003     16.0
       1004      6.0
       1005      2.0
       1006      6.0
       1007      3.0
       1008      6.0
       1009      6.0
       1010     10.0
       1011      8.0
       1012     21.0
       1013      7.0
       1014     12.0
       1015     27.0
       1016      4.0
       1017     28.0
       1018     70.0
       1019     66.0
       1020     11.0
       1021      6.0
       1022      6.0
       1023      3.0
       1024      8.0
       1025      3.0
       1026     13.0
       1027      2.0
       1029      1.0
       1030      2.0
       1031      2.0
...              ...
8001   6520      1.0
       6524      1.0
       6526      1.0
       6528      1.0
       6530      6.0
       6531      2.0
       6538      1.0
       6543      1.0
       6564      2.0
       6566      1.0
       6579      1.0
       6581      3.0
       6585      1.0
       6586      1.0
       6588      1.0
       6599      1.0
       6609      1.0
       6615     15.0
       6616     17.0
       6617     55.0
       6618     95.0
       6619    262.0
       6620    520.0
       6621    160.0
       6622      4.0
       6623      2.0
       6624      3.0
       6626     26.0
       8000      1.0
       8001     35.0

[381942 rows x 1 columns]

In [30]:
ex_skimdistf = os.path.join('example_data', 'ex_skimdist_1.csv')
ex_skimdist = Matrix(pd.DataFrame.from_csv(ex_skimdistf, index_col=[0,1]))
ex_skimdist

                    meters
zone_O zone_D
1001   1002      395.00003
       1003      625.00000
       1004     1045.00012
       1005     1225.00012
       1006     2404.99951
       1007      784.99988
       1008     1345.00000
       1009     1699.99976
       1010     1610.00012
       1011     1965.00000
       1012     2330.00000
       1013     2930.00024
       1014     2204.99976
       1015     3294.99902
       1016     2945.00000
       1017     3150.00000
       1018     3139.99951
       1019     4160.00000
       1020     3845.00000
       1021     3789.99927
       1022     4579.99951
       1023     4855.00098
       1024     4950.00000
       1025     5294.99951
       1026     5150.00000
       1027     6894.99902
       1028     6795.00000
       1029     7184.99951
       1030     9655.00098
       1031     8305.00000
...                    ...
8001   6600    53748.96094
       6601    54353.96094
       6602    54193.96875
       6604    68178.39063
       6605    80427.67188
       6608    56685.00000
       6609    55510.00000
       6610    59349.99219
       6611    61135.00000
       6612    57930.13672
       6613    50023.85547
       6614    50455.14063
       6615     9334.99805
       6616     6770.00000
       6617     7734.44287
       6618     8629.55566
       6619     4629.99951
       6620     2805.00000
       6621     3165.00000
       6622    11105.00000
       6623    37805.55469
       6624    37575.75781
       6625    47523.96875
       6626     5155.00000
       6627    39772.79297
       6628    27860.14648
       6629    60453.96484
       6630    68531.44531
       6631    25420.94141
       8000    61044.99609

[1496950 rows x 1 columns]

In [31]:
ex_TLD = TLD_SingleDist(ex_matrix, ex_skimdist, 5)
ex_TLD

               T
meters
0            0.0
5       322828.0
205         84.0
210         16.0
215          3.0
235         24.0
245         62.0
255         21.0
260         69.0
265         19.0
270         10.0
280         15.0
295         24.0
300         70.0
305         35.0
315         27.0
320          5.0
325        106.0
330        128.0
335         12.0
345         12.0
350        134.0
360         41.0
365          2.0
370         21.0
375         17.0
380        173.0
390          9.0
395          2.0
400        121.0
...          ...
768480      90.0
769060      84.0
770130     103.0
770175     100.0
770425      41.0
770960       2.0
771090       3.0
772630       3.0
775125       3.0
776765       5.0
776900       5.0
779455     375.0
781825       8.0
781830      12.0
782250       6.0
782800      99.0
782985      42.0
782990      50.0
783760     100.0
784140      30.0
794815     180.0
797065     193.0
797145      93.0
805335     378.0
811615     261.0
811660     290.0
813830     214.0
871825     211.0
873435       2.0
873480      57.0

[41533 rows x 1 columns]

In [32]:
ex_TLD.sum()

T    4864971.0
dtype: float64

In [33]:
dst = mat7.copy()
dst['T1'] = (dst.index.get_level_values(0)**2 - dst.index.get_level_values(1)**2)**2
dst['T2'] = dst['T1'] / dst.index.get_level_values(0)
dst['T2'] = dst['T1'] / dst.index.get_level_values(1)
dst.columns = 'D1 D2 D3'.split()
dst

       D1           D2  D3
O D
1 1     0     0.000000   0
  2     9     4.500000   6
  3    64    21.333333  10
  4   225    56.250000  12
  5   576   115.200000  12
  6  1225   204.166667  10
  7  2304   329.142857   6
2 1     9     9.000000   0
  2     0     0.000000   0
  3    25     8.333333  10
  4   144    36.000000  12
  5   441    88.200000  12
  6  1024   170.666667  10
  7  2025   289.285714   6
3 1    64    64.000000   0
  2    25    12.500000   6
  3     0     0.000000   0
  4    49    12.250000  12
  5   256    51.200000  12
  6   729   121.500000  10
  7  1600   228.571429   6
4 1   225   225.000000   0
  2   144    72.000000   6
  3    49    16.333333  10
  4     0     0.000000   0
  5    81    16.200000  12
  6   400    66.666667  10
  7  1089   155.571429   6
5 1   576   576.000000   0
  2   441   220.500000   6
  3   256    85.333333  10
  4    81    20.250000  12
  5     0     0.000000   0
  6   121    20.166667  10
  7   576    82.285714   6
6 1  1225  1225.000000   0
  2  1024   512.000000   6
  3   729   243.000000  10
  4   400   100.000000  12
  5   121    24.200000  12
  6     0     0.000000   0
  7   169    24.142857   6
7 1  2304  2304.000000   0
  2  2025  1012.500000   6
  3  1600   533.333333  10
  4  1089   272.250000  12
  5   576   115.200000  12
  6   169    28.166667  10
  7     0     0.000000   0

In [34]:
TLD_single = TLD_SingleDist(mat7,dst,5)
TLD_single

       T1     T2    T3
D1
0     0.0    0.0   0.0
5     4.0  175.0   0.0
10    2.0   10.0   6.0
30    0.0   26.0  16.0
50    2.0   42.0  22.0
65    2.0   18.0  10.0
85    2.0   58.0  24.0
125   0.0   74.0  22.0
145   2.0   34.0  18.0
170   2.0   90.0  16.0
230   0.0   26.0  12.0
260   0.0   50.0  22.0
405   2.0   66.0  22.0
445   2.0   42.0  18.0
580   4.0  116.0  30.0
730   2.0   58.0  20.0
1025  0.0   50.0  16.0
1090  0.0   74.0  18.0
1230  2.0   42.0  10.0
1605  2.0   66.0  16.0
2030  2.0   58.0  12.0
2305  0.0   50.0   6.0

In [35]:
TLD_multi = TLD_MultiDist(mat7,dst,5)
TLD_multi

       T1     T2     T3
0     0.0    0.0    0.0
5     4.0  177.0    0.0
10    2.0   18.0   72.0
15    NaN   34.0  264.0
20    NaN   50.0    NaN
25    NaN  151.0    NaN
30    0.0   48.0    NaN
40    NaN   11.0    NaN
50    2.0    NaN    NaN
55    NaN   19.0    NaN
60    NaN    4.0    NaN
65    2.0   15.0    NaN
70    NaN   27.0    NaN
75    NaN   23.0    NaN
85    2.0   35.0    NaN
90    NaN   43.0    NaN
105   NaN   39.0    NaN
120   NaN   52.0    NaN
125   0.0   20.0    NaN
145   2.0    NaN    NaN
160   NaN   28.0    NaN
170   2.0    NaN    NaN
175   NaN   13.0    NaN
205   NaN    6.0    NaN
225   NaN   30.0    NaN
230   0.0   43.0    NaN
245   NaN   38.0    NaN
260   0.0    NaN    NaN
275   NaN   46.0    NaN
290   NaN   14.0    NaN
330   NaN    7.0    NaN
405   2.0    NaN    NaN
445   2.0    NaN    NaN
515   NaN   37.0    NaN
535   NaN   45.0    NaN
580   4.0   29.0    NaN
730   2.0    NaN    NaN
1015  NaN   44.0    NaN
1025  0.0    NaN    NaN
1090  0.0    NaN    NaN
1230  2.0   36.0    NaN
1605  2.0    NaN    NaN
2030  2.0    NaN    NaN
2305  0.0   43.0    NaN

In [36]:
mat7.sum()

T1      32
T2    1225
T3     336
dtype: int64

In [37]:
TLD_single.sum()

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [38]:
TLD_multi.sum()

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [39]:
normalize_TLD(TLD_multi).sum()

T1    1.0
T2    1.0
T3    1.0
dtype: float64

In [40]:
band_agg_TLD(TLD_multi, 10).sum()

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [41]:
OutputName = os.path.join('example_outputs', 'TLD.png')
TLD_to_JPG(TLD_multi, OutputName=OutputName)

In [42]:
oFileNamePattern = os.path.join('example_outputs', 'TLD_{}.png')
TLD_cols_to_JPGs(TLD_multi, oFileNamePattern=oFileNamePattern)

In [43]:
TLD1 = TLD_multi.copy()
TLD2 = TLD_multi.copy() + 3
TLD3 = TLD_multi.copy()
TLD3 = TLD3.apply(lambda x: x + TLD3.index.get_level_values(0))
TLDs = [TLD1, TLD2, TLD3]
i = 1
for TLD in TLDs:
    TLD.columns = ['mat{}_{}'.format(i,col) for col in TLD]
    i+=1

In [44]:
oFileNamePattern = os.path.join('example_outputs', 'TLD_{}.png')
TLD_comparison_to_JPGs(TLDs, oFileNamePattern=oFileNamePattern)

In [45]:
oFileNamePattern = os.path.join('example_outputs', 'ex_TLD_{}.png')
TLD_cols_to_JPGs(ex_TLD, oFileNamePattern)

# TE comparison

In [46]:
oFileNamePattern = os.path.join('example_outputs', '{}')
TE_comparison_to_JPGs(mat7,fmat7, oFileNamePattern=oFileNamePattern, prefixes='mat_ fmat7_'.split())

In [47]:
TE_RegressionStats(mat7,fmat7, prefixes='mat_ fmat7_'.split())

                            slope  intercept        R2
mat_T1_TO - fmat7_T1_TO  1.000000   0.000000  1.000000
mat_T2_TO - fmat7_T2_TO  0.962887   5.065367  0.996904
mat_T3_TO - fmat7_T3_TO  1.117378  -6.632179  0.938963
mat_T1_TD - fmat7_T1_TD  1.000000   0.000000  1.000000
mat_T2_TD - fmat7_T2_TD  1.021360  -5.167475  0.745393
mat_T3_TD - fmat7_T3_TD  0.982096  -0.138649  0.985876

# Gravity

In [48]:
TLD_multi_for_ParamEst = TLD_multi.loc[1:,:]
TLD_multi_for_ParamEst = mid_interval_TLD(TLD_multi_for_ParamEst, factor=-0.5)
TLD_multi_for_ParamEst = normalize_TLD(TLD_multi_for_ParamEst)
TLD_multi_for_ParamEst

            T1        T2        T3
2.5     0.1250  0.144490  0.000000
7.5     0.0625  0.014694  0.214286
12.5       NaN  0.027755  0.785714
17.5       NaN  0.040816       NaN
22.5       NaN  0.123265       NaN
27.5    0.0000  0.039184       NaN
37.5       NaN  0.008980       NaN
47.5    0.0625       NaN       NaN
52.5       NaN  0.015510       NaN
57.5       NaN  0.003265       NaN
62.5    0.0625  0.012245       NaN
67.5       NaN  0.022041       NaN
72.5       NaN  0.018776       NaN
82.5    0.0625  0.028571       NaN
87.5       NaN  0.035102       NaN
102.5      NaN  0.031837       NaN
117.5      NaN  0.042449       NaN
122.5   0.0000  0.016327       NaN
142.5   0.0625       NaN       NaN
157.5      NaN  0.022857       NaN
167.5   0.0625       NaN       NaN
172.5      NaN  0.010612       NaN
202.5      NaN  0.004898       NaN
222.5      NaN  0.024490       NaN
227.5   0.0000  0.035102       NaN
242.5      NaN  0.031020       NaN
257.5   0.0000       NaN       NaN
272.5      NaN  0.037551       NaN
287.5      NaN  0.011429       NaN
327.5      NaN  0.005714       NaN
402.5   0.0625       NaN       NaN
442.5   0.0625       NaN       NaN
512.5      NaN  0.030204       NaN
532.5      NaN  0.036735       NaN
577.5   0.1250  0.023673       NaN
727.5   0.0625       NaN       NaN
1012.5     NaN  0.035918       NaN
1022.5  0.0000       NaN       NaN
1087.5  0.0000       NaN       NaN
1227.5  0.0625  0.029388       NaN
1602.5  0.0625       NaN       NaN
2027.5  0.0625       NaN       NaN
2302.5  0.0000  0.035102       NaN

In [49]:
#lognorm gamma exponnorm exponpow tanner
dists = fit_distribs(TLD_multi_for_ParamEst, 'lognorm exponnorm exponpow'.split())
dists

{'T1': [<scipy.stats._distn_infrastructure.rv_frozen at 0x125ecb550>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x126124fd0>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x126124f60>],
 'T2': [<scipy.stats._distn_infrastructure.rv_frozen at 0x125d6d400>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x125d6d0f0>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x125d6d320>],
 'T3': [<scipy.stats._distn_infrastructure.rv_frozen at 0x124df06d8>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x124df0eb8>,
  <scipy.stats._distn_infrastructure.rv_frozen at 0x124dbcef0>]}

In [50]:
tTO = randomizeTE(mat7.TO)
tTD = randomizeTE(mat7.TO)
tTO

   T1   T2  T3
O
1   4   27  54
2   5   77  51
3   5  132  50
4   4  181  47
5   5  215  44
6   5  265  44
7   4  308  50

In [51]:
syn7 = mat7.ApplyGravityModel(tTO, tTD, dists, furness=False)
syn7

         T1                         T2                         T3            \
    lognorm exponnorm exponpow lognorm exponnorm exponpow lognorm exponnorm
O D
1 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
2 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
3 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
4 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
5 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
6 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
7 1     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  2     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  3     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  4     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  5     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  6     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN
  7     NaN       NaN      NaN     NaN       NaN      NaN     NaN       NaN


    exponpow
O D
1 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
2 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
3 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
4 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
5 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
6 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN
7 1      NaN
  2      NaN
  3      NaN
  4      NaN
  5      NaN
  6      NaN
  7      NaN

In [52]:
syn7.columns.get_level_values(0)

Index(['T1', 'T1', 'T1', 'T2', 'T2', 'T2', 'T3', 'T3', 'T3'], dtype='object')

In [53]:
syn7.loc[:,:] = 1
syn7.furness(tTO, tTD)

ValueError: cannot join with no level specified and no overlapping names

In [ ]:
cols = [(k, d.dist.name) for k,dlst in dists.items() for d in dlst]
#cols
pd.MultiIndex.from_tuples(cols)

In [ ]:
df = pd.DataFrame(index=mat7.index, columns=pd.MultiIndex.from_tuples(cols))
#df[(['foo', 'bar'])] = 1
df

# DEV