In [1]:
# This Notebook demonstrates what can be done with Matrix module

In [2]:
import pandas as pd

In [3]:
from AuxFunctions import *
from Matrix import *
from TLD import *

In [4]:
df = pd.DataFrame(data=[range(6) for row in range(3)], columns=['A1', 'A2', 'A3', 'B1', 'B2', 'B3'])
df

   A1  A2  A3  B1  B2  B3
0   0   1   2   3   4   5
1   0   1   2   3   4   5
2   0   1   2   3   4   5

In [5]:
m = mat(7)
m

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [6]:
exmat = pd.DataFrame({'O': [10,10,20,20],
                      'D': [10,20,10,20],
                      'T':[3,2,4,1]}).set_index(['O','D'])
exmat

       T
O  D
10 10  3
   20  2
20 10  4
   20  1

In [7]:
I3 = I(3)
I3

     T
O D
1 1  1
  2  0
  3  0
2 1  0
  2  1
  3  0
3 1  0
  2  0
  3  1

In [8]:
import os
ex_matrixp = os.path.join('example_data', 'ex_matrix_1.csv')
ex_matrix = pd.read_csv(ex_matrixp, index_col=[0,1])
ex_skimdistp = os.path.join('example_data', 'ex_skimdist_1.csv')
ex_skimdist = pd.read_csv(ex_skimdistp, index_col=[0,1])

In [9]:
mat = Matrix(m)
mat

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [10]:
zoning1 = zoning(list(range(3)))
zoning2 = zoning(list(range(10)))
zoning3 = zoning([5+i for i in range(5)])
zoning4 = zoning('A B C'.split())

In [11]:
mat.complete(zoning2)

      T1    T2    T3
O D
0 0  NaN   NaN   NaN
  1  NaN   NaN   NaN
  2  NaN   NaN   NaN
  3  NaN   NaN   NaN
  4  NaN   NaN   NaN
  5  NaN   NaN   NaN
  6  NaN   NaN   NaN
  7  NaN   NaN   NaN
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
1 0  NaN   NaN   NaN
  1  0.0   1.0   0.0
  2  1.0   2.0   6.0
  3  1.0   3.0  10.0
  4  0.0   4.0  12.0
  5  1.0   5.0  12.0
  6  1.0   6.0  10.0
  7  0.0   7.0   6.0
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
2 0  NaN   NaN   NaN
  1  1.0   8.0   0.0
  2  1.0   9.0   0.0
  3  0.0  10.0  10.0
  4  1.0  11.0  12.0
  5  1.0  12.0  12.0
  6  0.0  13.0  10.0
  7  1.0  14.0   6.0
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
..   ...   ...   ...
7 0  NaN   NaN   NaN
  1  0.0  43.0   0.0
  2  1.0  44.0   6.0
  3  1.0  45.0  10.0
  4  0.0  46.0  12.0
  5  1.0  47.0  12.0
  6  1.0  48.0  10.0
  7  0.0  49.0   0.0
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
8 0  NaN   NaN   NaN
  1  NaN   NaN   NaN
  2  NaN   NaN   NaN
  3  NaN   NaN   NaN
  4  NaN   NaN   NaN
  5  NaN   NaN   NaN
  6  NaN   NaN   NaN
  7  NaN   NaN   NaN
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
9 0  NaN   NaN   NaN
  1  NaN   NaN   NaN
  2  NaN   NaN   NaN
  3  NaN   NaN   NaN
  4  NaN   NaN   NaN
  5  NaN   NaN   NaN
  6  NaN   NaN   NaN
  7  NaN   NaN   NaN
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN

[100 rows x 3 columns]

In [12]:
mat.matrix.T3

D  1  2   3   4   5   6  7
O
1  0  6  10  12  12  10  6
2  0  0  10  12  12  10  6
3  0  6   0  12  12  10  6
4  0  6  10   0  12  10  6
5  0  6  10  12   0  10  6
6  0  6  10  12  12   0  6
7  0  6  10  12  12  10  0

In [13]:
mat.TDp.matrix.T3

D    1         2         3         4         5         6         7
O
1  0.0  0.166667  0.166667  0.166667  0.166667  0.166667  0.166667
2  0.0  0.000000  0.166667  0.166667  0.166667  0.166667  0.166667
3  0.0  0.166667  0.000000  0.166667  0.166667  0.166667  0.166667
4  0.0  0.166667  0.166667  0.000000  0.166667  0.166667  0.166667
5  0.0  0.166667  0.166667  0.166667  0.000000  0.166667  0.166667
6  0.0  0.166667  0.166667  0.166667  0.166667  0.000000  0.166667
7  0.0  0.166667  0.166667  0.166667  0.166667  0.166667  0.000000

In [14]:
basicmapping = pd.DataFrame({
        'sectors': 'A A B B B C C'.split(),
        'zones':   [1,2,3,4,5,6,7,]
    })

mapping = pd.DataFrame({
        'sectors': 'A B A B B B C C C'.split(),
        'zones':   [1,2,2,3,4,5,6,7,5],
        'Val1':    [1,4,4,2,1,3,1,4,2],
        'Val2':    [3,0.01,1,2,1,3,3,1,0.01]
    })

In [15]:
mat.rezone(basicmapping, ['zones', 'sectors'])

                     T1   T2  T3
sectors_O sectors_D
A         A           3   20   6
          B           4   45  68
          C           2   40  32
B         A           4  135  18
          B           6  225  68
          C           4  165  48
C         A           2  160  12
          B           4  255  68
          C           3  180  16

In [16]:
rezoned = mat.rezone(mapping, ['zones', 'sectors'], weight_cols=['Val1', 'Val2'])
rezoned

WARNING: rezoned matrix does not preserve the matrix totals.

                           T1          T2         T3
sectors_O sectors_D
A         A          1.985149   11.435644   5.940594
          B          3.009868   28.527812  50.999605
          C          1.504983   26.536545  24.059801
B         A          4.179208  119.291089  15.445545
          B          6.213815  203.473695  76.254788
          C          4.106977  151.135216  49.699668
C         A          2.786139  182.679208  14.257426
          B          4.809210  293.987902  76.862840
          C          3.404651  207.932890  22.479734

In [17]:
rezoned.TOTALS

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [18]:
mat.TOTALS

T1      32
T2    1225
T3     336
dtype: int64

In [19]:
DEMMANDp = os.path.join('example_data', 'Demand_EMME.txt')
DEMMAND = Matrix.read_EMME(DEMMANDp)
DEMMAND

           example_data/Demand_EMME
O    D
101  101                     1.5615
     102                     0.0338
     103                     4.1628
     104                     2.0070
     105                     1.5930
     106                     0.1395
     107                     0.8108
     108                     0.7475
     109                     0.2345
     110                     0.3509
     111                     0.6626
     112                     0.4458
     113                     0.3684
     114                     0.5735
     115                     0.0944
     116                     0.2403
     117                     0.3339
     118                     0.2622
     119                     0.2569
     201                     0.1164
     202                     0.0737
     203                     0.1196
     204                     0.2698
     205                     0.0237
     206                     0.2613
     207                     0.0106
     208                     0.0095
     209                     0.1387
     210                     0.0972
     211                     0.0698
...                             ...
1913 1780                    0.4074
     1781                    0.0858
     1782                    1.3428
     1783                    0.7599
     1784                    0.0816
     1801                 3155.7934
     1802                  119.7499
     1803                 1188.3122
     1804                   28.7936
     1805                   71.6565
     1806                    6.2300
     1807                   26.4169
     1808                    3.7560
     1809                   11.4795
     1810                   66.1949
     1811                    1.5953
     1812                   34.7306
     1813                    1.8099
     1901                    2.3164
     1902                   11.2327
     1903                   45.7226
     1904                 5741.9848
     1905                   29.2176
     1906                   14.8447
     1907                    3.6403
     1908                    5.7690
     1909                   84.8270
     1910                    1.7470
     1911                   15.4561
     1912                  557.1537

[707280 rows x 1 columns]

In [20]:
DISTp = os.path.join('example_data', 'Dist_EMME.txt')
DIST = Matrix.read_EMME(DISTp)
DIST

         example_data/Dist_EMME
O   D
1   1                   0.00000
    2                7182.00000
    3               15634.99800
    4               23180.99800
    5               15533.99800
    6               30531.00390
    7               47291.00000
    8                9940.00195
    9               10772.00290
    10              17327.00190
    11              26253.00000
    12              45012.00780
    13              53452.00780
    14              51295.01170
    15              90100.00000
    16              91504.98430
    17              60492.00000
    18              68650.00000
    19              69266.00780
    20              67486.00000
    21              49757.00780
    22              34456.00000
    23              51594.00000
    24             102760.98400
    25              64037.98820
    26              41513.00000
    27              91613.00000
    28             108692.00000
    29              73069.63280
    30              65341.63670
...                         ...
149 119             12711.98310
    120             15081.77390
    121             13096.00980
    122             16533.95410
    123             16509.12840
    124             17529.24740
    125             13382.89200
    126             27195.85680
    127             31722.18240
    128             25792.68790
    129             25349.91560
    130             23291.95230
    131             25776.55050
    132             41845.24460
    133             36035.65900
    134             42309.50000
    135             37355.94660
    136             51069.27820
    137             50770.79190
    138             47824.90030
    139             55480.78080
    140             45454.57720
    141             44222.90500
    142             41739.51850
    143             38885.96880
    144             31699.49650
    145             21592.85070
    146             18044.11030
    147             17055.16570
    148             10935.56100

[22137 rows x 1 columns]

In [21]:
tTO = randomizeTE(mat.TO)
tTO

   T1   T2  T3
O
1   4   27  55
2   5   82  48
3   5  138  50
4   4  185  45
5   5  209  47
6   5  263  45
7   4  345  45

In [22]:
tTD = randomizeTE(mat.TD)
tTD

   T1   T2  T3
D
1   4  141   0
2   5  155  34
3   5  153  57
4   4  164  74
5   5  187  73
6   5  207  62
7   4  184  39

In [23]:
fmat = mat.furness(tTO, tTD)
fmat

      T1         T2         T3
O D
1 1  0.0   0.870701   0.000000
  2  1.0   1.831113   5.507249
  3  1.0   2.598309   9.425956
  4  0.0   3.565008  12.140976
  5  1.0   4.885869  12.065531
  6  1.0   6.249824  10.093763
  7  0.0   6.249908   6.269799
2 1  1.0   7.773623   0.000000
  2  1.0   9.195858   0.000000
  3  0.0   9.665718   9.132446
  4  1.0  10.941022  11.762923
  5  1.0  13.086325  11.689827
  6  0.0  15.112088   9.779458
  7  1.0  13.949809   6.074566
3 1  1.0  15.025439   0.000000
  2  0.0  16.852802   6.030779
  3  1.0  16.938910   0.000000
  4  1.0  18.456108  13.295122
  5  0.0  21.359569  13.212505
  6  1.0  23.966993  11.053297
  7  1.0  21.570586   6.865819
4 1  0.0  21.292760   0.000000
  2  1.0  23.407409   5.767543
  3  1.0  23.105807   9.871464
  4  0.0  24.767433   0.000000
  5  1.0  28.241359  12.635795
  6  1.0  31.262282  10.570834
  7  0.0  27.789072   6.566134
5 1  1.0  24.787014   0.000000
  2  1.0  26.962719   6.013416
  3  0.0  26.356548  10.292288
  4  1.0  27.996767  13.256843
  5  1.0  31.655058   0.000000
  6  0.0  34.765842  11.021473
  7  1.0  30.676159   6.846051
6 1  1.0  31.782304   0.000000
  2  0.0  34.347950   5.507523
  3  1.0  33.370836   9.426425
  4  1.0  35.243512  12.141580
  5  0.0  39.631985  12.066131
  6  1.0  43.302639   0.000000
  7  1.0  38.022345   6.270111
7 1  0.0  42.231262   0.000000
  2  1.0  45.439601   5.079754
  3  1.0  43.962132   8.694275
  4  0.0  46.243972  11.198543
  5  1.0  51.804374  11.128954
  6  1.0  56.396802   9.310244
  7  0.0  49.347871   0.000000

In [24]:
max([max(x,y) for x,y in zip((fmat.TO - tTO).abs().max(), (fmat.TD - tTD).abs().max())])

9.573985409617535