In [ ]:
# This Notebook demonstrates what can be done with Matrix module

In [1]:
import pandas as pd

In [2]:
from AuxFunctions import *
from Matrix import *
from TLD import *

In [3]:
df = pd.DataFrame(data=[range(6) for row in range(3)], columns=['A1', 'A2', 'A3', 'B1', 'B2', 'B3'])
df

   A1  A2  A3  B1  B2  B3
0   0   1   2   3   4   5
1   0   1   2   3   4   5
2   0   1   2   3   4   5

In [4]:
m = mat(7)
m

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [5]:
exmat = pd.DataFrame({'O': [10,10,20,20],
                      'D': [10,20,10,20],
                      'T':[3,2,4,1]}).set_index(['O','D'])
exmat

       T
O  D
10 10  3
   20  2
20 10  4
   20  1

In [6]:
I3 = I(3)
I3

     T
O D
1 1  1
  2  0
  3  0
2 1  0
  2  1
  3  0
3 1  0
  2  0
  3  1

In [7]:
ex_matrix = pd.read_csv('ex_matrix_1.csv', index_col=[0,1])
ex_skimdist = pd.read_csv('ex_skimdist_1.csv', index_col=[0,1])

In [8]:
mat = Matrix(m)
mat

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [9]:
zoning1 = zoning(list(range(3)))
zoning2 = zoning(list(range(10)))
zoning3 = zoning([5+i for i in range(5)])
zoning4 = zoning('A B C'.split())

In [10]:
mat.complete(zoning2)

      T1    T2    T3
O D
0 0  NaN   NaN   NaN
  1  NaN   NaN   NaN
  2  NaN   NaN   NaN
  3  NaN   NaN   NaN
  4  NaN   NaN   NaN
  5  NaN   NaN   NaN
  6  NaN   NaN   NaN
  7  NaN   NaN   NaN
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
1 0  NaN   NaN   NaN
  1  0.0   1.0   0.0
  2  1.0   2.0   6.0
  3  1.0   3.0  10.0
  4  0.0   4.0  12.0
  5  1.0   5.0  12.0
  6  1.0   6.0  10.0
  7  0.0   7.0   6.0
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
2 0  NaN   NaN   NaN
  1  1.0   8.0   0.0
  2  1.0   9.0   0.0
  3  0.0  10.0  10.0
  4  1.0  11.0  12.0
  5  1.0  12.0  12.0
  6  0.0  13.0  10.0
  7  1.0  14.0   6.0
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
..   ...   ...   ...
7 0  NaN   NaN   NaN
  1  0.0  43.0   0.0
  2  1.0  44.0   6.0
  3  1.0  45.0  10.0
  4  0.0  46.0  12.0
  5  1.0  47.0  12.0
  6  1.0  48.0  10.0
  7  0.0  49.0   0.0
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
8 0  NaN   NaN   NaN
  1  NaN   NaN   NaN
  2  NaN   NaN   NaN
  3  NaN   NaN   NaN
  4  NaN   NaN   NaN
  5  NaN   NaN   NaN
  6  NaN   NaN   NaN
  7  NaN   NaN   NaN
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
9 0  NaN   NaN   NaN
  1  NaN   NaN   NaN
  2  NaN   NaN   NaN
  3  NaN   NaN   NaN
  4  NaN   NaN   NaN
  5  NaN   NaN   NaN
  6  NaN   NaN   NaN
  7  NaN   NaN   NaN
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN

[100 rows x 3 columns]

In [11]:
mat.matrix.T3

D  1  2   3   4   5   6  7
O
1  0  6  10  12  12  10  6
2  0  0  10  12  12  10  6
3  0  6   0  12  12  10  6
4  0  6  10   0  12  10  6
5  0  6  10  12   0  10  6
6  0  6  10  12  12   0  6
7  0  6  10  12  12  10  0

In [12]:
mat.TDp.matrix.T3

D    1         2         3         4         5         6         7
O
1  0.0  0.166667  0.166667  0.166667  0.166667  0.166667  0.166667
2  0.0  0.000000  0.166667  0.166667  0.166667  0.166667  0.166667
3  0.0  0.166667  0.000000  0.166667  0.166667  0.166667  0.166667
4  0.0  0.166667  0.166667  0.000000  0.166667  0.166667  0.166667
5  0.0  0.166667  0.166667  0.166667  0.000000  0.166667  0.166667
6  0.0  0.166667  0.166667  0.166667  0.166667  0.000000  0.166667
7  0.0  0.166667  0.166667  0.166667  0.166667  0.166667  0.000000

In [13]:
basicmapping = pd.DataFrame({
        'sectors': 'A A B B B C C'.split(),
        'zones':   [1,2,3,4,5,6,7,]
    })

mapping = pd.DataFrame({
        'sectors': 'A B A B B B C C C'.split(),
        'zones':   [1,2,2,3,4,5,6,7,5],
        'Val1':    [1,4,4,2,1,3,1,4,2],
        'Val2':    [3,0.01,1,2,1,3,3,1,0.01]
    })

In [14]:
mat.rezone(basicmapping, ['zones', 'sectors'])

                     T1   T2  T3
sectors_O sectors_D
A         A           3   20   6
          B           4   45  68
          C           2   40  32
B         A           4  135  18
          B           6  225  68
          C           4  165  48
C         A           2  160  12
          B           4  255  68
          C           3  180  16

In [15]:
rezoned = mat.rezone(mapping, ['zones', 'sectors'], weight_cols=['Val1', 'Val2'])
rezoned

WARNING: rezoned matrix does not preserve the matrix totals.

                           T1          T2         T3
sectors_O sectors_D
A         A          1.985149   11.435644   5.940594
          B          3.009868   28.527812  50.999605
          C          1.504983   26.536545  24.059801
B         A          4.179208  119.291089  15.445545
          B          6.213815  203.473695  76.254788
          C          4.106977  151.135216  49.699668
C         A          2.786139  182.679208  14.257426
          B          4.809210  293.987902  76.862840
          C          3.404651  207.932890  22.479734

In [16]:
rezoned.TOTALS

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [17]:
mat.TOTALS

T1      32
T2    1225
T3     336
dtype: int64

In [18]:
ex_matrix

                   T
zone_O zone_D
1001   1001     16.0
       1002      8.0
       1003     16.0
       1004      6.0
       1005      2.0
       1006      6.0
       1007      3.0
       1008      6.0
       1009      6.0
       1010     10.0
       1011      8.0
       1012     21.0
       1013      7.0
       1014     12.0
       1015     27.0
       1016      4.0
       1017     28.0
       1018     70.0
       1019     66.0
       1020     11.0
       1021      6.0
       1022      6.0
       1023      3.0
       1024      8.0
       1025      3.0
       1026     13.0
       1027      2.0
       1029      1.0
       1030      2.0
       1031      2.0
...              ...
8001   6520      1.0
       6524      1.0
       6526      1.0
       6528      1.0
       6530      6.0
       6531      2.0
       6538      1.0
       6543      1.0
       6564      2.0
       6566      1.0
       6579      1.0
       6581      3.0
       6585      1.0
       6586      1.0
       6588      1.0
       6599      1.0
       6609      1.0
       6615     15.0
       6616     17.0
       6617     55.0
       6618     95.0
       6619    262.0
       6620    520.0
       6621    160.0
       6622      4.0
       6623      2.0
       6624      3.0
       6626     26.0
       8000      1.0
       8001     35.0

[381942 rows x 1 columns]

In [19]:
ex_skimdist

                    meters
zone_O zone_D
1001   1002      395.00003
       1003      625.00000
       1004     1045.00012
       1005     1225.00012
       1006     2404.99951
       1007      784.99988
       1008     1345.00000
       1009     1699.99976
       1010     1610.00012
       1011     1965.00000
       1012     2330.00000
       1013     2930.00024
       1014     2204.99976
       1015     3294.99902
       1016     2945.00000
       1017     3150.00000
       1018     3139.99951
       1019     4160.00000
       1020     3845.00000
       1021     3789.99927
       1022     4579.99951
       1023     4855.00098
       1024     4950.00000
       1025     5294.99951
       1026     5150.00000
       1027     6894.99902
       1028     6795.00000
       1029     7184.99951
       1030     9655.00098
       1031     8305.00000
...                    ...
8001   6600    53748.96094
       6601    54353.96094
       6602    54193.96875
       6604    68178.39063
       6605    80427.67188
       6608    56685.00000
       6609    55510.00000
       6610    59349.99219
       6611    61135.00000
       6612    57930.13672
       6613    50023.85547
       6614    50455.14063
       6615     9334.99805
       6616     6770.00000
       6617     7734.44287
       6618     8629.55566
       6619     4629.99951
       6620     2805.00000
       6621     3165.00000
       6622    11105.00000
       6623    37805.55469
       6624    37575.75781
       6625    47523.96875
       6626     5155.00000
       6627    39772.79297
       6628    27860.14648
       6629    60453.96484
       6630    68531.44531
       6631    25420.94141
       8000    61044.99609

[1496950 rows x 1 columns]

In [20]:
DEMMAND = Matrix.read_EMME('Demand_EMME.txt')
DEMMAND

           Demand_EMME
O    D
101  101        1.5615
     102        0.0338
     103        4.1628
     104        2.0070
     105        1.5930
     106        0.1395
     107        0.8108
     108        0.7475
     109        0.2345
     110        0.3509
     111        0.6626
     112        0.4458
     113        0.3684
     114        0.5735
     115        0.0944
     116        0.2403
     117        0.3339
     118        0.2622
     119        0.2569
     201        0.1164
     202        0.0737
     203        0.1196
     204        0.2698
     205        0.0237
     206        0.2613
     207        0.0106
     208        0.0095
     209        0.1387
     210        0.0972
     211        0.0698
...                ...
1913 1780       0.4074
     1781       0.0858
     1782       1.3428
     1783       0.7599
     1784       0.0816
     1801    3155.7934
     1802     119.7499
     1803    1188.3122
     1804      28.7936
     1805      71.6565
     1806       6.2300
     1807      26.4169
     1808       3.7560
     1809      11.4795
     1810      66.1949
     1811       1.5953
     1812      34.7306
     1813       1.8099
     1901       2.3164
     1902      11.2327
     1903      45.7226
     1904    5741.9848
     1905      29.2176
     1906      14.8447
     1907       3.6403
     1908       5.7690
     1909      84.8270
     1910       1.7470
     1911      15.4561
     1912     557.1537

[707280 rows x 1 columns]

In [21]:
DIST = Matrix.read_EMME('Dist_EMME.txt')
DIST

            Dist_EMME
O   D
1   1         0.00000
    2      7182.00000
    3     15634.99800
    4     23180.99800
    5     15533.99800
    6     30531.00390
    7     47291.00000
    8      9940.00195
    9     10772.00290
    10    17327.00190
    11    26253.00000
    12    45012.00780
    13    53452.00780
    14    51295.01170
    15    90100.00000
    16    91504.98430
    17    60492.00000
    18    68650.00000
    19    69266.00780
    20    67486.00000
    21    49757.00780
    22    34456.00000
    23    51594.00000
    24   102760.98400
    25    64037.98820
    26    41513.00000
    27    91613.00000
    28   108692.00000
    29    73069.63280
    30    65341.63670
...               ...
149 119   12711.98310
    120   15081.77390
    121   13096.00980
    122   16533.95410
    123   16509.12840
    124   17529.24740
    125   13382.89200
    126   27195.85680
    127   31722.18240
    128   25792.68790
    129   25349.91560
    130   23291.95230
    131   25776.55050
    132   41845.24460
    133   36035.65900
    134   42309.50000
    135   37355.94660
    136   51069.27820
    137   50770.79190
    138   47824.90030
    139   55480.78080
    140   45454.57720
    141   44222.90500
    142   41739.51850
    143   38885.96880
    144   31699.49650
    145   21592.85070
    146   18044.11030
    147   17055.16570
    148   10935.56100

[22137 rows x 1 columns]

In [22]:
tTO = randomizeTE(mat.TO)
tTO

   T1   T2  T3
O
1   4   27  61
2   5   82  48
3   5  125  46
4   4  172  40
5   5  212  40
6   5  295  43
7   4  295  54

In [23]:
tTD = randomizeTE(mat.TD)
tTD

   T1   T2  T3
D
1   4  140   0
2   5  149  35
3   5  184  66
4   4  178  76
5   5  175  70
6   5  201  63
7   4  195  38

In [24]:
fmat = mat.furness(tTO, tTD)
fmat

      T1         T2         T3
O D
1 1  0.0   0.866900   0.000000
  2  1.0   1.764631   6.349873
  3  1.0   3.131868  12.102965
  4  0.0   3.877330  13.693770
  5  1.0   4.580903  12.570054
  6  1.0   6.078959  11.399017
  7  0.0   6.633682   7.051700
2 1  1.0   7.727768   0.000000
  2  1.0   8.848333   0.000000
  3  0.0  11.632609  10.587998
  4  1.0  11.881204  11.979677
  5  1.0  12.250599  10.996620
  6  0.0  14.676291   9.972166
  7  1.0  14.783580   6.169016
3 1  1.0  13.525025   0.000000
  2  0.0  14.683233   5.923352
  3  1.0  18.459027   0.000000
  4  1.0  18.147760  12.773959
  5  0.0  18.105580  11.725723
  6  1.0  21.075879  10.633345
  7  1.0  20.699203   6.578037
4 1  0.0  19.669902   0.000000
  2  1.0  20.929663   5.316361
  3  1.0  25.840673  10.133074
  4  0.0  24.993278   0.000000
  5  1.0  24.567722  10.524139
  6  1.0  28.213189   9.543701
  7  0.0  27.366866   5.903958
5 1  1.0  24.979851   0.000000
  2  1.0  26.300742   5.198290
  3  0.0  32.156339   9.908028
  4  1.0  30.820915  11.210332
  5  1.0  30.041237   0.000000
  6  0.0  34.227853   9.331745
  7  1.0  32.956981   5.772837
6 1  1.0  35.416341   0.000000
  2  0.0  37.047406   5.461753
  3  1.0  45.019207  10.410194
  4  1.0  42.901205  11.778503
  5  0.0  41.588494  10.811954
  6  1.0  47.140473   0.000000
  7  1.0  45.168742   6.065420
7 1  0.0  35.873381   0.000000
  2  1.0  37.360392   6.327579
  3  1.0  45.209471  12.060473
  4  0.0  42.910679  13.645693
  5  1.0  41.439426  12.525922
  6  1.0  46.800876  11.358997
  7  0.0  44.687644   0.000000

In [25]:
max([max(x,y) for x,y in zip((fmat.TO - tTO).abs().max(), (fmat.TD - tTD).abs().max())])

2.7864800101397407