In [1]:
import numpy as np
import pandas as pd
import re
import os

In [2]:
from MatrixExamples import m

In [3]:
def duplicates_in_list(lst):
    '''Returns True in there are duplicates in lst.'''
    if len(lst) != len(set(lst)):
        return True
    else:
        return False

In [4]:
def zoning(zones: list, names=['O', 'D']) -> pd.MultiIndex:
    '''returns a MultiIndex object with zones for origins and destinations.'''
    
    if all(isinstance(elem, list) for elem in zones):
        ODs = zones
        if not any(duplicates_in_list for lst in zones):
            raise ValueError('There are duplicated zones')
    
    elif isinstance(zones,list):
        ODs = [zones for name in names]
        if duplicates_in_list(zones):
            raise ValueError('There are duplicated zones')
    
    else:
        raise ValueError('"zones" must be a list or a list of lists')
    
    idx = pd.MultiIndex.from_product(ODs, names=names)
    
    if idx.names != names:
        raise ValueError('zoning could not be created from {}.'.format(zones) + 
                         '\n"zones" must be a list or a list of lists')
    
    return idx

In [5]:
class Matrix(pd.DataFrame):
    '''A Matrix in Transport Planning is a pandas DataFrame,
    with Origins and Destinations as MultiIndex levels: [O, D]'''

    @property
    def _constructor(self):
        '''Matrix operations returns Matrix objects.'''
        return Matrix
    
    @property
    def Os(self):
        '''Returns origin names without duplicates.'''
        return list(self.index.get_level_values(0).unique())
    
    @property
    def Ds(self):
        '''Returns destination names without duplicates.'''
        return list(self.index.get_level_values(1).unique())
    
    @property
    def TO(self):
        '''Returns trip-ends for origins.'''
        return self.groupby(level=0).sum()
    
    @property
    def TD(self):
        '''Returns trip-ends for destinations.'''
        return self.groupby(level=1).sum()
    
    @property
    def TOTALS(self):
        '''Returns the matrix totals.'''
        return self.sum()
    
    def TransposeOD(self, sort=True):
        '''Transposes a matrix in ODT format: swaps Origins and Destinations.'''
        mat_T = self.swaplevel()
        mat_T.index.names = self.index.names
        if sort:
            mat_T = mat_T.sort_index()
        return mat_T
    
    @property
    def TOp(self):
        '''Returns origin proportions: Pij = Tij / TOi'''
        return self.groupby(level=0).apply(lambda x: (x/x.sum()).fillna(0))
    
    @property
    def TDp(self):
        '''Returns destination proportions: Pij = Tij / TDj'''
        return self.groupby(level=1).apply(lambda x: (x/x.sum()).fillna(0))
    
    @property
    def matrix(self):
        '''Returns matrix as a tradicional 2D matrix.'''
        return self.to_panel()
    
    #TODO:
    @staticmethod
    def from_panel(panel):
        ...
    
    def rezone(self, mapping: pd.DataFrame, mapping_cols=['old', 'new'],
               weight_cols=None, calculate_proportions=True,
               min_weight=0.00000001):
        '''Changes the zoning system based on mapping.
        A mapping is a correspondence between old zones and new zones.
        
           weights - ['Owght', 'Dwght'] to use for zone disaggregation
           calculate_proportions - if True, weight proportions will be 
               calculated and applied
           min_weight - value for weights with value zero'''
        
        if weight_cols:
            
            if len(weight_cols)!=2:
                raise ValueError("weight_cols must be as in ['Owght', 'Dwght']")
            
            Owght, Dwght = weight_cols
            
            #cap to min_weight
            Omap = mapping[mapping_cols].copy()
            Omap[Owght] = mapping[Owght].where(mapping[Owght] > min_weight, min_weight)
            Dmap = mapping[mapping_cols].copy()
            Dmap[Dwght] = mapping[Dwght].where(mapping[Dwght] > min_weight, min_weight)
            
            if calculate_proportions:
                #proportions always respect 'old' mapping column
                Omap[Owght] = Omap.groupby(mapping_cols[0])[Owght].apply(lambda x: (x/x.sum()))
                Dmap[Dwght] = Dmap.groupby(mapping_cols[0])[Dwght].apply(lambda x: (x/x.sum()))
        else:
            Omap = mapping.reset_index()[mapping_cols]
            Dmap = Omap
        
        suffixes = ['_' + n for n in self.index.names]
        mat = pd.merge(self.reset_index(), Omap.reset_index(),
                      left_on=self.index.names[-2], right_on=mapping_cols[0])
        mat = pd.merge(mat, Dmap.reset_index(),
                      left_on=self.index.names[-1], right_on=mapping_cols[0],
                      suffixes=suffixes)
        
        if weight_cols:
            if Owght == Dwght:
                Owght, Dwght = ['{}{}'.format(Owght,s) for s in suffixes]
                
            for col in self:
                mat[col] = mat[col] * mat[Owght] * mat[Dwght]
        
        NewODnames = ['{}{}'.format(mapping_cols[1],s) for s in suffixes]
        
        aux_cols = list(set(mat.columns) - set(self.columns) - set(NewODnames))
        mat = mat.drop(aux_cols, axis=1)
        
        mat = mat.groupby(NewODnames).sum()
        mat = Matrix(mat)
        
        if not all(x==y for x,y in zip(self.TOTALS, mat.TOTALS)):
            print("WARNING: rezoned matrix does not preserve the matrix totals.")
        
        return mat
    
        #TODO: update this function to allow outputing a weighted average (eg: for costs)
        # Deal with 0 trips in wght file:
            ## 1) Multiply src_file by wght_file
            ## 2) Disaggregate src x wght as if it was a demand matrix
            ## 3) Disaggregate wght as a demmand matrix as well
            ## 4) merge src_wght_hyl and wght_hyl on the first two columns:
            ## 5) Divide src x wght / wght at hyl level
            ## Aggregate!
        
    def complete(self, zones):
        '''Rompletes the matrix index with specified zones. Ignores existing zones.'''
        if isinstance(zones, pd.MultiIndex):
            #zones is a zoning system already (MultiIndex)
            zoning = zones
        elif isinstance(zones, list):
            #zones is just a list that needs to be expanded
            zoning = zoning(zones)
        else:
            raise ValueError('"zones" must be list of zones or zoning system (MultiIndex)')
        zoning_union = self.index.union(zoning)
        return self.reindex(index=zoning_union)
    
    def submatrix(self, zoning: pd.MultiIndex):
        '''Returns a submatrix with the origins and destinations specified in zoning'''
        zoning_intersect = self.index.intersection(zoning)
        return self.reindex(zoning_intersect)
    
    #TODO
    @staticmethod
    def read_EMME(file):
        '''Reads a text file containing one or more matrices in EMME format.
        Accepts matrices, trip origins, trip destinations and constants.
        Assumes one single value per row in the EMME files.
        '''

        EMMErecord_cols = {
            'md': ['zone', '_TD'],
            'mo': ['zone', '_TO'],
            'mf': ['O', 'D', '']
            } #TODO: remove difference by TO /TD / T ??

        ## RegEx to read EMME format:
        mat_re = re.compile(r'a matrix\s*=\s*(mo|md|mf|ms)(\d+)\s+(\w+?)\s+(-?\d+)\s+(.+?)\n(.*)\n(?=a matrix|d matrix|\Z|\s*\n)',
                           re.DOTALL | re.MULTILINE)
        # re groups:
        # mat_type, mat_num, mat_name, mat_default, mat_desc, mat_data

        EMMErecord_re = {
            'md': re.compile(r'\s*all\s+(\d+)\s*:\s*(-?\.?\d+\.?\d*)\n'),
            'mo': re.compile(r'\s*(\d+)\s+all\s*:\s*(-?\.?\d+\.?\d*)\n'),
            'mf': re.compile(r'\s*(\d+)\s+(\d+)\s*:\s*(-?\.?\d+\.?\d*)\n')
            } #TODO: implement ms

        ## Read Data
        data = {}
        fn, fext = os.path.splitext(file)
        data[fn] = {}
        with open(file, 'r') as f:
            fcontent = f.read()
            #each source file might contain several matrices
            mat_blocks = mat_re.findall(fcontent)
            for matb in mat_blocks:
                mat_type, mat_num, mat_name, mat_default, mat_desc, mat_data = matb
                mat_rows = EMMErecord_re[mat_type].findall(mat_data)
                #TODO: Use named tuples
                data[fn][mat_name] = dict(zip(
                   'mat_type, mat_num, mat_default, mat_desc, mat_rows'.split(', '),
                   [mat_type, mat_num, mat_default, mat_desc, mat_rows]))

        ## Convert to DataFrame
        matrix = Matrix()
        #TODO: review and test this
        for fn in data:
            for matn in data[fn]:
                mat_data = data[fn][matn]

                #convert rows into df, setting column names and index
                df_cols = EMMErecord_cols[mat_data['mat_type']]
                df_idx_cols = df_cols[:-1]
                df_data_cols = df_cols[-1]

                mat = Matrix.from_records(mat_data['mat_rows'],
                                               columns=df_cols,
                                               index=df_idx_cols)

                #this avoids repeating names:
                mat_id = '{}{}'.format(fn, df_data_cols)
                #numeric is needed for Matrix methods to work as expected
                matrix[mat_id] = pd.to_numeric(mat[df_data_cols])           

        return matrix


        
    #TODO:
    def TLD(dist):
        '''Return a Trip Length Distirbution based on dist matrix.'''
        ...
        
    #TODO:
    def join_orig(df):
        '''Joins df on the matrix origins.'''
        ...
        
    #TODO:
    def join_dest(df):
        '''Joins df on the matrix destinations.'''
        ...
    
    #TODO: fix furness, it is bugged.
    def furness(self, TO, TD, tolerance=0.001, max_iter=100):
        '''Use FRATAR algorithm to adjust (balance) the matrix
        to target origins and destinations (TO, TD), within a certain tolerance.
        Will not always converge, hence cap maximum iterations to max_iter.'''
        
        sTO = self.TO
        sTD = self.TD
        fmat = self.copy()
        i = 1
        
        while True:
            # Balancing factors (Nan ~> 0, inf ~> 1):
            A = (TO / fmat.TO).fillna(0).replace([np.inf, -np.inf], 1)
            B = (TD / fmat.TD).fillna(0).replace([np.inf, -np.inf], 1)
            fmat = fmat.mul(A, axis=1, level=0).mul(B, axis=1, level=1)
        
            i += 1
            within_tol = not (any((fmat.TO - TO) > tolerance) or any((fmat.TD - TD) > tolerance))
            
            if within_tol:
                break
            if max_iter and (i >= max_iter):
                break
        
        return fmat

In [6]:
mat = Matrix(m)
mat

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [7]:
zoning1 = zoning(list(range(3)))
zoning2 = zoning(list(range(10)))
zoning3 = zoning([5+i for i in range(5)])
zoning4 = zoning('A B C'.split())

In [8]:
mat.complete(zoning2)

      T1    T2    T3
O D
0 0  NaN   NaN   NaN
  1  NaN   NaN   NaN
  2  NaN   NaN   NaN
  3  NaN   NaN   NaN
  4  NaN   NaN   NaN
  5  NaN   NaN   NaN
  6  NaN   NaN   NaN
  7  NaN   NaN   NaN
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
1 0  NaN   NaN   NaN
  1  0.0   1.0   0.0
  2  1.0   2.0   6.0
  3  1.0   3.0  10.0
  4  0.0   4.0  12.0
  5  1.0   5.0  12.0
  6  1.0   6.0  10.0
  7  0.0   7.0   6.0
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
2 0  NaN   NaN   NaN
  1  1.0   8.0   0.0
  2  1.0   9.0   0.0
  3  0.0  10.0  10.0
  4  1.0  11.0  12.0
  5  1.0  12.0  12.0
  6  0.0  13.0  10.0
  7  1.0  14.0   6.0
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
..   ...   ...   ...
7 0  NaN   NaN   NaN
  1  0.0  43.0   0.0
  2  1.0  44.0   6.0
  3  1.0  45.0  10.0
  4  0.0  46.0  12.0
  5  1.0  47.0  12.0
  6  1.0  48.0  10.0
  7  0.0  49.0   0.0
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
8 0  NaN   NaN   NaN
  1  NaN   NaN   NaN
  2  NaN   NaN   NaN
  3  NaN   NaN   NaN
  4  NaN   NaN   NaN
  5  NaN   NaN   NaN
  6  NaN   NaN   NaN
  7  NaN   NaN   NaN
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN
9 0  NaN   NaN   NaN
  1  NaN   NaN   NaN
  2  NaN   NaN   NaN
  3  NaN   NaN   NaN
  4  NaN   NaN   NaN
  5  NaN   NaN   NaN
  6  NaN   NaN   NaN
  7  NaN   NaN   NaN
  8  NaN   NaN   NaN
  9  NaN   NaN   NaN

[100 rows x 3 columns]

In [9]:
mat.matrix.T3

D  1  2   3   4   5   6  7
O
1  0  6  10  12  12  10  6
2  0  0  10  12  12  10  6
3  0  6   0  12  12  10  6
4  0  6  10   0  12  10  6
5  0  6  10  12   0  10  6
6  0  6  10  12  12   0  6
7  0  6  10  12  12  10  0

In [10]:
mat.TDp.matrix.T3

D    1         2         3         4         5         6         7
O
1  0.0  0.166667  0.166667  0.166667  0.166667  0.166667  0.166667
2  0.0  0.000000  0.166667  0.166667  0.166667  0.166667  0.166667
3  0.0  0.166667  0.000000  0.166667  0.166667  0.166667  0.166667
4  0.0  0.166667  0.166667  0.000000  0.166667  0.166667  0.166667
5  0.0  0.166667  0.166667  0.166667  0.000000  0.166667  0.166667
6  0.0  0.166667  0.166667  0.166667  0.166667  0.000000  0.166667
7  0.0  0.166667  0.166667  0.166667  0.166667  0.166667  0.000000

In [11]:
basicmapping = pd.DataFrame({
        'sectors': 'A A B B B C C'.split(),
        'zones':   [1,2,3,4,5,6,7,]
    })

mapping = pd.DataFrame({
        'sectors': 'A B A B B B C C C'.split(),
        'zones':   [1,2,2,3,4,5,6,7,5],
        'Val1':    [1,4,4,2,1,3,1,4,2],
        'Val2':    [3,0.01,1,2,1,3,3,1,0.01]
    })

In [12]:
mat.rezone(basicmapping, ['zones', 'sectors'])

                     T1   T2  T3
sectors_O sectors_D
A         A           3   20   6
          B           4   45  68
          C           2   40  32
B         A           4  135  18
          B           6  225  68
          C           4  165  48
C         A           2  160  12
          B           4  255  68
          C           3  180  16

In [13]:
rezoned = mat.rezone(mapping, ['zones', 'sectors'], weight_cols=['Val1', 'Val2'])
rezoned

WARNING: rezoned matrix does not preserve the matrix totals.

                           T1          T2         T3
sectors_O sectors_D
A         A          1.985149   11.435644   5.940594
          B          3.009868   28.527812  50.999605
          C          1.504983   26.536545  24.059801
B         A          4.179208  119.291089  15.445545
          B          6.213815  203.473695  76.254788
          C          4.106977  151.135216  49.699668
C         A          2.786139  182.679208  14.257426
          B          4.809210  293.987902  76.862840
          C          3.404651  207.932890  22.479734

In [14]:
rezoned.TOTALS

T1      32.0
T2    1225.0
T3     336.0
dtype: float64

In [15]:
mat.TOTALS

T1      32
T2    1225
T3     336
dtype: int64

In [16]:
DEMMAND = Matrix.read_EMME('Demand_EMME.txt')
DEMMAND

           Demand_EMME
O    D
101  101        1.5615
     102        0.0338
     103        4.1628
     104        2.0070
     105        1.5930
     106        0.1395
     107        0.8108
     108        0.7475
     109        0.2345
     110        0.3509
     111        0.6626
     112        0.4458
     113        0.3684
     114        0.5735
     115        0.0944
     116        0.2403
     117        0.3339
     118        0.2622
     119        0.2569
     201        0.1164
     202        0.0737
     203        0.1196
     204        0.2698
     205        0.0237
     206        0.2613
     207        0.0106
     208        0.0095
     209        0.1387
     210        0.0972
     211        0.0698
...                ...
1913 1780       0.4074
     1781       0.0858
     1782       1.3428
     1783       0.7599
     1784       0.0816
     1801    3155.7934
     1802     119.7499
     1803    1188.3122
     1804      28.7936
     1805      71.6565
     1806       6.2300
     1807      26.4169
     1808       3.7560
     1809      11.4795
     1810      66.1949
     1811       1.5953
     1812      34.7306
     1813       1.8099
     1901       2.3164
     1902      11.2327
     1903      45.7226
     1904    5741.9848
     1905      29.2176
     1906      14.8447
     1907       3.6403
     1908       5.7690
     1909      84.8270
     1910       1.7470
     1911      15.4561
     1912     557.1537

[707280 rows x 1 columns]

In [17]:
DEMMAND.TD

      Demand_EMME
D
1001       7.2121
1002      23.9342
1003       2.9953
1004      38.5306
1005     129.3511
1006       5.1417
1007      73.4896
1008       2.8341
1009      25.2020
101      188.7173
1010       4.5281
1011      36.5964
1012     105.6023
1013      32.3435
1014      58.1313
1015      66.7441
1016       3.3037
1017      55.6139
1018      38.0447
1019       5.1393
102        2.5878
1020       2.7668
1021      18.9052
1022      35.4868
1023       8.3028
1024       7.0781
1025      70.5489
1026     109.5351
1027       8.0606
1028      59.1446
...           ...
905       59.1723
906       12.8672
907       54.3999
908        8.5232
909       20.8015
910       11.3326
911      113.9551
912       70.9768
913       19.5575
914        3.9679
915      137.5521
916       92.2496
917       77.8827
918      143.2668
919       98.9461
920       89.0706
921        4.4498
922       68.6329
923       53.3478
924       17.8516
925      164.8656
926      275.8941
927      236.9460
928       16.2706
929       69.1777
930       67.5772
931       16.6010
932       18.4378
933       84.3285
934      102.1739

[841 rows x 1 columns]

In [18]:
import random

def randomizeSeries(S, fraction):
    '''Adds variability to a pd.Series'''
    return S+pd.Series([random.randint(-int(x/fraction),int(x/fraction)) for x in S], index=S.index)

def randomizeTE(TE):
    return TE.apply(randomizeSeries, args=[10])

In [19]:
tTO = randomizeTE(mat.TO)
tTO

   T1   T2  T3
O
1   4   26  55
2   5   80  52
3   5  119  45
4   4  173  40
5   5  240  43
6   5  264  43
7   4  303  51

In [20]:
tTD = randomizeTE(mat.TD)
tTD

   T1   T2  T3
D
1   4  160   0
2   5  149  34
3   5  165  55
4   4  182  68
5   5  187  75
6   5  176  64
7   4  211  38

In [21]:
fmat = mat.furness(tTO, tTD)
fmat

      T1         T2         T3
O D
1 1  0.0   0.959621   0.000000
  2  1.0   1.709722   5.630026
  3  1.0   2.721840   8.993754
  4  0.0   3.843167  10.992935
  5  1.0   4.746387  12.326208
  6  1.0   5.162380  10.443029
  7  0.0   6.962985   6.285727
2 1  1.0   8.622895   0.000000
  2  1.0   8.641743   0.000000
  3  0.0  10.190720   9.479359
  4  1.0  11.870949  11.586483
  5  1.0  12.794928  12.991744
  6  0.0  12.563352  11.006886
  7  1.0  15.641879   6.625116
3 1  1.0  14.709762   0.000000
  2  0.0  13.977520   5.513359
  3  1.0  15.761773   0.000000
  4  1.0  17.673254  10.765136
  5  0.0  18.431533  12.070780
  6  1.0  17.585044  10.226626
  7  1.0  21.346735   6.155472
4 1  0.0  22.590893   0.000000
  2  1.0  21.039447   5.125072
  3  1.0  23.300419   8.187109
  4  0.0  25.702796   0.000000
  5  1.0  26.410556  11.220677
  6  1.0  24.858423   9.506400
  7  0.0  29.803450   5.721964
5 1  1.0  32.281713   0.000000
  2  1.0  29.749220   5.682921
  3  0.0  32.625864   9.078251
  4  1.0  35.664668  11.096215
  5  1.0  36.338416   0.000000
  6  0.0  33.934118  10.541143
  7  1.0  40.385401   6.344782
6 1  1.0  36.174168   0.000000
  2  0.0  33.120244   5.440952
  3  1.0  36.101181   8.691715
  4  1.0  39.236503  10.623758
  5  0.0  39.760287  11.912255
  6  1.0  36.938477   0.000000
  7  1.0  43.746481   6.074633
7 1  0.0  42.048579   0.000000
  2  1.0  38.329336   5.898764
  3  1.0  41.604196   9.423052
  4  0.0  45.037091  11.517661
  5  1.0  45.464686  12.914574
  6  1.0  42.084598  10.941506
  7  0.0  49.668006   0.000000